* {
  margin: 0;
  padding: 0; }

html {
  height: max-content; }

@media (min-width: 1024px) {
  body {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: 90vh !important;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    padding-right: 0;
    background-image: url(../img/wp2532980-night-mountain-wallpapers.jpg);
    background-size: cover; }
  .titulo {
    text-align: center;
    margin: 10px 0 20px 0;
    color: #ffffff; }
  form {
    color: #ffffff;
    border-radius: 16px;
    background-color: #ffffff00; }
  .busqueda {
    text-align: center; }
    .busqueda .form-row {
      margin: 15px 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-content: center; }
    .busqueda .btn {
      margin-bottom: 10px; }
  .card {
    color: #ffffff;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); }
    .card h3 {
      font-size: 20px;
      margin: auto; }
    .card img {
      width: 40%; }
    .card .cardP1 {
      display: flex;
      flex-direction: row;
      margin: 10px 0 0 0;
      padding: 10px 0 10px 0 !important;
      border-top: solid #c9c9c9 1px; }
      .card .cardP1 .tempIcon {
        width: 13% !important;
        position: relative;
        left: 13%; }
  .cardInfo {
    color: #ffffff;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); }
    .cardInfo h3 {
      font-size: 20px; }
  .btnInfo {
    text-align: center;
    margin: 10px 0 0 0; }
  #infoCard {
    padding-bottom: 300px;
    background-color: #ffffff; }
  .temp {
    border-right: 1px solid #c9c9c9; }
  .bg-danger {
    border-radius: 5px;
    margin: 10px 0 0 0; }
  footer {
    color: white;
    background-color: rgba(97, 97, 97, 0.384);
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 5px 0 5px 0; }
    footer h4 {
      font-size: medium; }
    footer .developerName {
      position: relative;
      top: 10px;
      width: 80%; }
    footer .apiName {
      position: relative;
      left: 250px; }
      footer .apiName img {
        width: 30%; }
  .button-33 {
    position: inherit;
    width: 50px;
    height: 50px;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px, rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px, rgba(44, 187, 99, 0.15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation; }
    .button-33 img {
      position: relative;
      right: 4px;
      width: 185%; }
  .button-33:hover {
    box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px, rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px, rgba(44, 187, 99, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg); }
  .btnDelete {
    background-color: rgba(255, 30, 30, 0.562);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer; }
  /* Darker background on mouse-over */
  .btnDelete:hover {
    background-color: rgba(255, 0, 0, 0.671); }
  .btnAdd {
    margin: 0 5px 0 0;
    background-color: rgba(30, 34, 255, 0.562);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer; }
  /* Darker background on mouse-over */
  .btnAdd:hover {
    background-color: rgba(0, 4, 255, 0.671); } }

@media (max-width: 767px) {
  body {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: 90vh !important;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    padding-right: 0;
    background-image: url(../img/wp2532980-night-mountain-wallpapers.jpg);
    background-size: cover; }
  .titulo {
    text-align: center;
    margin: 10px 0 20px 0;
    color: #ffffff; }
  form {
    color: #ffffff;
    border-radius: 16px;
    background-color: #ffffff00; }
  .busqueda {
    text-align: center; }
    .busqueda .form-row {
      margin: 15px 0;
      text-align: center; }
    .busqueda .btn {
      margin-bottom: 10px; }
  .card {
    color: #ffffff;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); }
    .card h3 {
      font-size: 20px;
      margin: auto; }
    .card img {
      width: 50%; }
    .card .cardP1 {
      display: flex;
      flex-direction: row;
      margin: 5px 0 0 0;
      padding: 10px 0 10px 0 !important;
      border-top: solid #c9c9c9 1px; }
      .card .cardP1 .tempIcon {
        width: 13% !important;
        position: relative;
        left: 13%; }
  .cardInfo {
    color: #ffffff;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); }
    .cardInfo h3 {
      font-size: 20px; }
  .btnInfo {
    text-align: center;
    margin: 10px 0 0 0; }
  #infoCard {
    padding-bottom: 300px;
    background-color: #ffffff; }
  .bg-danger {
    border-radius: 5px;
    margin: 10px 0 0 0; }
  footer {
    color: white;
    background-color: rgba(97, 97, 97, 0.384);
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 5px 0 5px 0;
    margin: 50px 0 0 0; }
    footer h4 {
      font-size: small; }
    footer .developerName {
      position: relative;
      top: 5px;
      width: 80%; }
    footer .apiName {
      position: relative;
      right: 30px;
      width: 20%; }
      footer .apiName img {
        width: 120%; }
  .button-33 {
    position: block;
    width: 50px;
    height: 50px;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px, rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px, rgba(44, 187, 99, 0.15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation; }
    .button-33 img {
      position: relative;
      right: 4px;
      width: 185%; }
  .button-33:hover {
    box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px, rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px, rgba(44, 187, 99, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg); }
  .btnDelete {
    background-color: rgba(255, 30, 30, 0.562);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer; }
  /* Darker background on mouse-over */
  .btnDelete:hover {
    background-color: rgba(255, 0, 0, 0.671); }
  .btnAdd {
    margin: 0 5px 0 0;
    background-color: rgba(30, 34, 255, 0.562);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer; }
  /* Darker background on mouse-over */
  .btnAdd:hover {
    background-color: rgba(0, 4, 255, 0.671); } }

/* ------------------------------------------------------- */
.row {
  margin-left: 0;
  margin-right: 0; }

.container-fluid {
  padding: 0 0 0 0 !important; }
